:root {
  --eise_brand_color: #d22630;
  --eise_secondary_color: #f8f6f4;
  --eise_dark_color: #0f0f0c;
  --eise_darkgrey_color: #24221f;
  --eise_lightgrey_color: #84827f;
  
  --bulma-primary: var(--eise_brand_color);
  --bulma-body-color: var(--eise_dark_color);
  --bulma-navbar-burger-color: var(--eise_dark_color);

  --bulma-card-radius: 0;
}

div.canvas{
  padding: 0px;
  margin: 0px;
  background-color: var(--eise_secondary_color);
  /* max-width: 1280px; */
}

.navbar {
  background-color: var(--eise_secondary_color);
}

.navbar-menu {
  background-color: var(--eise_secondary_color);
  box-shadow: none;
  padding-top: 20px;
}

.navbar-brand img {
  max-height: 3rem !important; /* Adjust to match navbar height */
  padding-right: 2rem;
}

.header {
  color: var(--eise_dark_color);
  padding: 2rem;
}

.main {
  padding: 2rem;
  color: var(--eise_dark_color);
}

.section {
  padding: 1.5rem 0rem;
  color: var(--eise_dark_color);
}

.footer {
  background-color: var(--eise_dark_color);
  color: var(--eise_lightgrey_color);
  padding: 2rem;
}

.footer p.title {
  color: var(--eise_secondary_color);
  font-weight: 300;
  font-style: normal;
}

.footer a {
  padding: 5px 0px;
}

.footer img {
  max-height: 3rem !important;
  padding-right: 2rem;
}

.button,
.box,
.field {
  box-shadow: none;
  border-radius: 0px;
}

.card {
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 0px;
}

.card p.title {
  font-weight: 300;
  font-style: normal;
}

.card-header {
  box-shadow: none;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 300;
  font-style: normal;
}

@media only screen and (width >= 1024px) {
  .main {
    padding: 2rem 4rem;
  }
}