:root {
  --eise_brand_color: #d22630;
  --eise_secondary_color: #f8f6f4;
  --eise_dark_color: #0f0f0c;
  --eise_darkgrey_color: #24221f;
  --eise_lightgrey_color: #84827f;
  
  --bulma-primary: var(--eise_brand_color);
  --bulma-body-color: var(--eise_dark_color);
  --bulma-navbar-burger-color: var(--eise_dark_color);

  --bulma-card-radius: 0;
}

div.canvas{
  padding: 0px;
  margin: 0px;
  background-color: var(--eise_secondary_color);
}

@media only screen and (max-width: 750px) {
  div.canvas {
      margin: 0 auto;
      padding: 0px;
      box-shadow: 0;
  }
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    box-shadow: none;
    border: 1px;
    border-color: var(--eise_dark_color);
    padding-top: 20px;
  }
}

.navbar {
  background-color: var(--eise_secondary_color);
}

.navbar-brand img {
  max-height: 3rem !important; /* Adjust to match navbar height */
  padding-right: 2rem;
}

.header {
  color: var(--eise_dark_color);
  padding: 2rem;
}

.main {
  color: var(--eise_dark_color);
  padding: 2rem;
}

.footer {
  background-color: var(--eise_dark_color);
  color: var(--eise_lightgrey_color);
  padding: 2rem;
}

.footer p.title {
  color: var(--eise_secondary_color);
}

.footer a {
  padding: 5px 0px;
}

.footer img {
  max-height: 3rem !important;
  padding-right: 2rem;
}

.card {
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 0px;
}

.card-header {
  box-shadow: none;
}