---
  layout: base.liquid
  title: Website template
  locale: "de"
---
    <main class="content main">
      {% assign largeTextBlock = page-contact.content | where: "type", "largeTextBlock" | first %}
      <section class="section">
        {{ largeTextBlock.text[site.locale] | markdown }}
        {%- if largeTextBlock.image %}
          <img src="{{ largeTextBlock.image }}" alt="Large text block image">
        {% endif %}
        {% include "_contact_form.liquid" %}
      </section>
    </main>
