---
  layout: base.liquid
  title: Website template
  locale: "de"
---
    <main class="content main">
      {% assign largeTextBlock = page-contact.content | where: "type", "largeTextBlock" | first %}
      <section class="section content">
        <p class="title">{{ largeTextBlock.text[site.locale] | markdown }}</p>
        <div class="columns pt-5">
          <div class="column is-8">
            {% include "_contact_form.liquid" %}
          </div>
          <div class="column is-4">
            {% include "_contact.liquid" %}
          </div>
        </div>
      </section>
    </main>
