---
  layout: base.liquid
  title: Website template
  pagination:
    data: page-home
    size: 1
---
    <main class="content main">
      {% assign infoBlock = page-home.content | where: "type", "infoBlock" | first %}
      {% if infoBlock %}
      <section class="info-block">
        {{ infoBlock.text[site.locale]| markdown }}
      </section>
      {% endif %}
      <section class="large-text-block">
        {% assign largeTextBlock = page-home.content | where: "type", "largeTextBlock" | first %}
        {{ largeTextBlock.text[site.locale] | markdown }}
        <img src="{{ largeTextBlock.image }}" alt="Large text block image">
      </section>
      {% include "_services.liquid" %}

    </main>
