---
  layout: base.liquid
  title: Website template
---
    <main class="content main">
      {% assign infoBlock = page-home.content | where: "type", "infoBlock" | first %}
      {% if infoBlock %}
      <section class="section">
        {{ infoBlock.text[site.locale]| markdown }}
      </section>
      {% endif %}
      <section class="section">
        {% assign largeTextBlock = page-home.content | where: "type", "largeTextBlock" | first %}
        {{ largeTextBlock.text[site.locale] | markdown }}
        <img src="{{ largeTextBlock.image }}" alt="Large text block image">
      </section>
      <section class="section">
        {% include "_services.liquid" %}
      </section>

    </main>
