---
  layout: base.liquid
  title: Website template
---
    <main class="content main">
      {% assign infoBlock = page-home.content | where: "type", "infoBlock" | first %}
      {% if infoBlock %}
      <section class="section">
        <article class="message is-primary">
          <div class="message-body">
            {{ infoBlock.text[site.locale]| markdown }}
          </div>
        </article>      </section>
      {% endif %}
      <section class="section">
        {% assign largeTextBlock = page-home.content | where: "type", "largeTextBlock" | first %}
        <div class="columns is-flex-direction-row">
          <div class="column is-8">
            {{ largeTextBlock.text[site.locale] | markdown }}
          </div>
          <div class="column is-4">
            <img src="{{ largeTextBlock.image }}" alt="Large text block image">
          </div>
        </div>
      </section>
      <section class="section">
        {% include "_services.liquid" %}
      </section>

    </main>
