---
  layout: base.liquid
  title: Website template
  pagination:
    data: services
    size: 1
    alias: service
  permalink: "services/{{ service.title[site.locale] | slugify }}.html"

---
  <main class="content main">
    <div class="content">
      <div class="columns">
        <div class="column is-8">
          {{ service.description[site.locale] | markdown }}          
        </div>
        <div class="column is-4">
          {% include "_contact.liquid" %}
        </div>
      </div>
    </div>
  </main>
